@import "/home/quangdn/.local/share/omarchy/default/walker/themes/omarchy-default/style.css";

* {
  font-size: 27px;
}

.normal-icons {
  -gtk-icon-size: 24px;
}

.large-icons {
  -gtk-icon-size: 48px;
}

.box-wrapper {
  padding: 30px;
  border: 4px solid @border;
  border-radius: 10px;
}

.search-container {
  padding: 15px;
  border-radius: 6px;
}

child:selected {
  border-radius: 6px;
}

.item-box {
  padding-left: 21px;
}

.item-text-box {
  padding: 21px 0;
}

.item-image {
  margin-right: 21px;
}

.keybind-hints {
  padding: 15px;
  margin-top: 15px;
  border-radius: 6px;
}
