[Desktop Entry]
Version=1.0
Name=Brave Origin (beta)
GenericName=Web Browser
Comment=Access the Internet
Exec=/home/quangdn/.local/bin/brave-origin-beta %U
StartupNotify=true
StartupWMClass=brave-origin-beta
Terminal=false
Icon=brave-origin-beta
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/home/quangdn/.local/bin/brave-origin-beta

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/home/quangdn/.local/bin/brave-origin-beta --incognito
